<!DOCTYPE HTML>
<html>
<style>
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

article {
    float: center;
    padding: 20px;
    width: 100%;
    background-color: #ffffff;
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 1000px) {
    nav, article {
    width: 100%;
    height: auto;
    }
}
</style>
<head>
</head>

<body>
<center>

<H3 align="center">
<input type="button" name="tvshows" value="TVShows" onclick="updateMainArticle('/list/tvshows');"/>
<input type="button" name="list_cal" value="LocalCalendar" onclick="updateMainArticle('/list/cal?source=all');"/>
<input type="button" name="watchlist" value="WatchList" onclick="updateMainArticle('/trakt/watchlist');"/>
<input type="button" name="trakt_cal" value="TraktCalendar" onclick="updateMainArticle('/trakt/cal');"/>
<input type="button" name="list" value="FullQueue" onclick="updateMainArticle('/list/full_queue');"/>
<input type="button" name="plex" value="PlexList" onclick="updateMainArticle('/list/plex?limit=100');"/>
<input type="button" name="transocde_status" value="TranscodeStatus" onclick="updateMainArticle('/list/transcode/status');"/>
<input type="button" name="refresh" value="RefreshAuth" onclick="refreshAuth();"/>
<input type="button" name="auth" value="Auth" onclick="traktAuth();"/>
</H3>

<H3>
<article id="main_article">
{{{BODY}}}
</article>
</H3>
</center>

<script language="JavaScript" type="text/javascript">
    !function() {
        updateMainArticle('/list/cal?source=all');
    }();
    function updateMainArticle( url ) {
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("main_article").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
    }
    function watched_add(link, season, episode) {
        let url = "/trakt/watched/add/" + link + "/" + season + "/" + episode;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            let url = "/trakt/watched/list/" + link + "/" + season;
            updateMainArticle(url);
        }
        xmlhttp.send(null);
        let out = "requested " + link + "/" + season + "/" + episode
        document.getElementById("remcomoutput").innerHTML = out;
    }
    function watched_rm(link, season, episode) {
        let url = "/trakt/watched/rm/" + link + "/" + season + "/" + episode
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            let url = "/trakt/watched/list/" + link + "/" + season;
            updateMainArticle(url);
        }
        xmlhttp.send(null);
        let out = "requested " + link + "/" + season + "/" + episode
        document.getElementById("remcomoutput").innerHTML = out;
    }
    function delete_show(index) {
        let url = "/list/delete/" + index
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
        }
        xmlhttp.send(null);
    }
    function watchlist_add(link) {
        let url = "/trakt/watchlist/add/" + link
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            let url = "/list/tvshows";
            updateMainArticle(url);
        }
        xmlhttp.send(null);
        let out = "requested " + link
        document.getElementById("remcomoutput").innerHTML = out;
    }
    function watchlist_rm(link) {
        let url = "/trakt/watchlist/rm/" + link
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            let url = "/list/tvshows";
            updateMainArticle(url);
        }
        xmlhttp.send(null);
        let out = "requested " + link
        document.getElementById("remcomoutput").innerHTML = out;
    }
    function imdb_update(show, link, season, referal_url) {
        let url = "/list/imdb/" + show + "?tv=true&update=true&database=true&link=" + link + "&season=" + season;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            updateMainArticle(referal_url);
        }
        xmlhttp.send(null);
        let out = "requested " + link
        document.getElementById("remcomoutput").innerHTML = out;
    }
    function refreshAuth() {
        let url = "/trakt/refresh_auth";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            document.getElementById("main_article").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
    }
    function traktAuth() {
        let url = "/trakt/auth_url";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
            let win = window.open(xmlhttp.responseText, '_blank');
            win.focus()
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
    }
    function transcode_queue(index) {
        let url = "/list/transcode/queue/" + index
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("remcomoutput").innerHTML = "&nbsp;";
        }
        xmlhttp.send(null);
        let out = "requested " + index
        document.getElementById("remcomoutput").innerHTML = out;
    }
    function transcode_queue_directory(index, directory) {
        let url = "/list/transcode/queue/" + directory + "/" + index
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("remcomoutput").innerHTML = "&nbsp;";
        }
        xmlhttp.send(null);
        let out = "requested " + index
        document.getElementById("remcomoutput").innerHTML = out;
    }
    function update_procs() {
        let url = "/list/transcode/status/procs";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("procs-tables").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
    }
    function update_file_list() {
        let url = "/list/transcode/status/file_list";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            document.getElementById("local-file-table").innerHTML = xmlhttp.responseText;
        }
        xmlhttp.send(null);
    }
    function transcode_file(file) {
        let url = "/list/transcode/file/" + file
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            update_procs();
            update_file_list();
            document.getElementById("remcomoutput").innerHTML = "&nbsp;";
        }
        xmlhttp.send(null);
        let out = "requested " + file
        document.getElementById("remcomoutput").innerHTML = out;
    }
    function remcom_file(file) {
        let movie_dir = document.getElementById('movie_dir').value;
        let url = "/list/transcode/remcom/directory/" + movie_dir + "/" + file;
        if (movie_dir == '') {
            url = "/list/transcode/remcom/file/" + file;
        }
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            update_procs();
            update_file_list();
            document.getElementById("remcomoutput").innerHTML = "&nbsp;";
        }
        xmlhttp.send(null);
        let out = "requested " + file
        document.getElementById("remcomoutput").innerHTML = out;
    }
    function cleanup_file(file) {
        let url = "/list/transcode/cleanup/" + file
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            update_procs();
            update_file_list();
            document.getElementById("remcomoutput").innerHTML = "&nbsp;";
        }
        xmlhttp.send(null);
        let out = "requested " + file
        document.getElementById("remcomoutput").innerHTML = out;
    }
    function setSource( link, source_id ) {
        let source = document.getElementById( source_id ).value;
        let url = "/list/imdb_ratings/set_source?link=" + link + "&source=" + source;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", url, true);
        xmlhttp.onload = function nothing() {
            updateMainArticle('/trakt/watchlist');
        }
        xmlhttp.send(null);
    }
    </script>
</body>
</html>
